body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(gray, black);
  color: white;
}

h1 {
  text-shadow: 2px 2px black;
}

img {
  width: 350px;
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  transition: 0.5s;
}

img:hover {
  transform: scale(1.1);
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
